<a href="https://colab.research.google.com/github/ViniCostSantos/aquivos-teste/blob/main/Automa%C3%A7%C3%A3o_web_(Web_Scraping).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vinicius costa\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

# Abrindo o navegador

navegador = webdriver.Chrome()

# indo para a página do Google

navegador.get("https://www.google.com/")

# pegando o valor da cotação do Dólar

navegador.find_element(By.XPATH,
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")

navegador.find_element(By.XPATH,
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element(By.XPATH,
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value") 

# pegando o valor da cotação do Euro

navegador.get("https://www.google.com/")

navegador.find_element(By.XPATH,
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")

navegador.find_element(By.XPATH,
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element(By.XPATH,
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value") 

# pegando a cotação do Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_ouro = navegador.find_element(By.XPATH,
    '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",",".")

navegador.quit()

print(cotacao_dolar)
print(cotacao_euro)
print(cotacao_ouro)

# importando a base de dados e atualizando a base

tabela = pd.read_excel(r"C:\Users\Vinicius Costa\Desktop\Jupyter\dados\Produtos.xlsx")
display(tabela)

# cotação Dólar
    
tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)

# cotação Euro

tabela.loc[tabela["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)

# cotação Ouro

tabela.loc[tabela["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)

# atualizando o preço de compra

tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]

# atualizando o preço de venda

tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

# formatando os preços
tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R$ {:,.2f}".format)
tabela["Preço de Compra"] = tabela["Preço de Compra"].map("R$ {:,.2f}".format)
display(tabela)
tabela.to_excel(r"C:\Users\Vinicius Costa\Desktop\Jupyter\dados\Produtos_novo.xlsx")

5.108692
5.5460726650000005
312.26

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.108692,"R$ 5,108.64",1.40,"R$ 7,152.10"
1,Carro Renault,4500.00,Euro,5.546073,"R$ 24,957.33",2.00,"R$ 49,914.65"
2,Notebook Dell,899.99,Dólar,5.108692,"R$ 4,597.77",1.70,"R$ 7,816.21"
3,IPhone,799.00,Dólar,5.108692,"R$ 4,081.84",1.70,"R$ 6,939.14"
4,Carro Fiat,3000.00,Euro,5.546073,"R$ 16,638.22",1.90,"R$ 31,612.61"
5,Celular Xiaomi,480.48,Dólar,5.108692,"R$ 2,454.62",2.00,"R$ 4,909.25"
6,Joia 20g,20.00,Ouro,312.260000,"R$ 6,245.20",1.15,"R$ 7,181.98"

In [ ]:
# importando a base de dados e atualizando a base
import pandas as pd

tabela = pd.read_excel(r"C:\Users\Vinicius Costa\Desktop\Jupyter\dados\Produtos.xlsx")
display(tabela)

# cotação Dólar
    
tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)

# cotação Euro

tabela.loc[tabela["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)

# cotação Ouro

tabela.loc[tabela["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)

# atualizando o preço de compra

tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]

# atualizando o preço de venda

tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

# formatando os preços
tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R$ {:,.2f}".format)
tabela["Preço de Compra"] = tabela["Preço de Compra"].map("R$ {:,.2f}".format)
display(tabela)
tabela.to_excel("C:\Users\Vinicius Costa\Desktop\Jupyter\dados\Produtos_novo.xlsx")

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.1087,"R$ 5,108.65",1.40,"R$ 7,152.11"
1,Carro Renault,4500.00,Euro,5.5475,"R$ 24,963.75",2.00,"R$ 49,927.50"
2,Notebook Dell,899.99,Dólar,5.1087,"R$ 4,597.78",1.70,"R$ 7,816.22"
3,IPhone,799.00,Dólar,5.1087,"R$ 4,081.85",1.70,"R$ 6,939.15"
4,Carro Fiat,3000.00,Euro,5.5475,"R$ 16,642.50",1.90,"R$ 31,620.75"
5,Celular Xiaomi,480.48,Dólar,5.1087,"R$ 2,454.63",2.00,"R$ 4,909.26"
6,Joia 20g,20.00,Ouro,312.0700,"R$ 6,241.40",1.15,"R$ 7,177.61"